@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 1440px;
  margin: auto;
}

/* Aqui comienza el css del header */

header {
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: #ABE1DE;
}

header img {
  height: 60%;
}

header h1 {
  border-left: 2px solid #2A5C58;
  padding: 0 0 0 10px ;
  color: #2A5C58;
  font-size: large;
}

/* Aqui comienza el css del main */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  background-color: #2A5C58;
}

textarea {
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
}

/* Css del .input-container */

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%;
  padding: 20px 0;
}

.text-area-input {
  height: 80%;
  width: 90%;
  font-size: 24px;
  color: #ABE1DE;
}

.text-area-input::placeholder {
  color: #4DA8A2;
}

.input-container p {
  font-size: small;
  margin: 10px 10px;
  text-align: center;
  color: #ABE1DE;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
}

.buttons-container button,
.copiar-button {
  width: 40%;
  margin: 0 0 10px 0;
  padding: 10px 20px;
  border-radius: 24px;
  border: none;
  background-color: #4DA8A2;
  box-shadow: none;
  cursor: pointer;
  transition: 0.1s;
  color: #F3F5FC;
  font-size: 18px;
}

.buttons-container button:hover {
  box-shadow: 0px 3px 5px  rgba(0, 0, 0, 0.384);
}

.buttons-container button:active {
  transform: scale(1.1);
}

.buttons-container .desencriptar-button {
  background-color: #ABE1DE;
  color: #2A5C58;
}

/* Css del .output-container */

.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 95%;
  background-color: #ABE1DE;
  color: #2A5C58;
  padding: 20px 0;
  border-radius: 20px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.text-area-output {
  display: none;
  width: 95%;
  height: 95%;
  font-size: 20px;
  color: #2A5C58;
}

.output-container img {
  width: 90%;
  max-width: 250px;
}

.output-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 10px 10px;
  font-weight: bold;
  font-size: larger;
}

.output-container-second-text {
  font-weight: normal;
  font-size: small;
  margin-top: 5px;
}

.copiar-button {
  display: none;
  width: auto;
  margin: 0;
  padding: 5px 20px;
  font-size: 16px;
}

/* Aqui comienza el css del footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  text-align: center;
  font-size: small;
  color: #2A5C58;
  background-color: #ABE1DE;
}

/* Aqui comienza el css de las media queries */

@media screen and (max-width: 920px) {
  header {
    height:7vh;
  }
  main {
    height: 86vh;
  }
  .input-container {
    width: 100%;
    height: 60%;
    padding: 0;
  }
  .output-container {
    width: 90%;
    height: 30%;
  }
  .output-container img {
    display: none;
  }
  footer {
    height: 7vh;
  }
}

@media screen and (max-width: 640px) {
  .buttons-container {
    width: 70%;
  }
  .buttons-container button {
    width: 40%;
  }
}

@media screen and (max-width: 420px) {
  .buttons-container {
    width: 90%;
    height: 40%;
  }
  .buttons-container button {
    width: 100%;
  }
}

